/* ********************************** GENERAL ********************************** */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

:root {
    --primary : hsl(212, 61%, 21%);
    --primary-alt : hsla(252, 63%, 9%, 0.1);
    --secondary : hsl(240, 60%, 97%);
}

html {
    font-size: 14px;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 0 20vw;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    margin: 1rem auto 0;
}

h2 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0 auto 2rem;
}

/* ********************************** PLANNING ********************************** */

details {
    margin-top: 1rem;
    border: solid 1px var(--primary);
    border-radius: .3rem;
}

summary {
    position: relative;
    color: white;
    background-color: var(--primary);
    padding: .4rem 3rem .6rem;
    border-radius: .1rem .1rem 0 0;
    font-size: 1.4rem;
    font-weight: 400;
    list-style: none;
}

summary:hover {
    cursor: pointer;
    filter: opacity(.9)
}

summary::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-width: 3px 3px 0 0;
    border-color: white;
    border-style: solid;
    margin-left: auto;
    right: 3rem;
    top: .9rem;
    transform: rotate(45deg);
    transition: all .4s ease;
}

details[open] > summary::after {
    top: .6rem;
    transform: rotate(135deg);
}

.slotsList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.slot {
    text-align: center;
    margin: .5rem;
    padding: .5rem 0;
    border-radius: .5rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    background-color: var(--primary-alt);
}

.slot:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: white;
}

/* ********************************** POPUP ********************************** */

.formWrapper {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #FFFE;
}

.popupForm {
    background-color: white;
    border: solid 2px var(--primary);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    position: relative;
}

.closeButton {
    position: absolute;
    top: -1.8rem;
    right: -0.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--primary);
    border: solid 2px white;
    box-sizing: border-box;
}

.closeButton:hover {
    cursor: pointer;
    background-color: white;
    border-color: var(--primary);
}

.closeButton:hover::after, .closeButton:hover::before {
    border-color: var(--primary);
}

.closeButton::before {
    content: "";
    position: relative;
    left: .3rem;
    top: .85rem;
    width: 1rem;
    border: solid 1px white;
    transform: rotate(-45deg);
}

.closeButton::after {
    content: "";
    position: relative;
    left: .3rem;
    top: .65rem;
    width: 1rem;
    border: solid 1px white;
    transform: rotate(45deg);
}

.popupForm > div {
    margin: .8rem 0;
    display: flex;
    flex-direction: column;
}

.popupForm label {
    color: var(--primary);
    font-size: 1.3rem;
    font-weight: 700;
}

.popupForm input {
    border-radius: .2rem;
    border: solid 1px var(--primary);
    margin-top: .6rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.popupForm input:focus {
    outline-color: var(--primary);
}

.popupForm #submit {
    font-weight: 700;
    border-radius: .3rem;
    background-color: var(--primary);
    color: white;
    box-sizing: border-box;
    border: solid 2px var(--primary);
}

.popupForm #submit:hover {
    cursor: pointer;
    background-color: white;
    color: var(--primary);
}

.submitMessage {
    position: fixed;
    width: 90vw;
    left: 5vw;
    bottom: 2vw;
    margin-top: auto;
    color: white;
    text-align: center;
    padding: .5rem;
    font-size: 1.4rem;
    border-radius: .3rem;
    border: solid 3px var(--primary-alt);
    animation: fading-out .8s 2s;
}

.validated {
    background-color: hsl(98, 52%, 46%);
}

.error {
    background-color: hsl(7, 74%, 56%);
}

@keyframes fading-out {
    from {
        filter: opacity(1);
    }
    to {
        filter: opacity(0);
    }
}

/* ********************************** ADMIN CALENDAR ********************************** */

h3 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.calendar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar-nav button {
    width: 8rem;
    height: 2.6rem;
    border-radius: .2rem;
    border: solid 2px var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-weight: 700;
}

.calendar-nav button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-grid > div {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    border: solid 2px var(--secondary);
}

.legend {
    background-color: var(--primary);
    color: var(--secondary);
}

.prev, .next {
    filter: opacity(.4);
}

.day {
    position: relative;
}

.day:hover {
    cursor: pointer;
    border-color: var(--primary);
}

.notif {
    background-color: var(--primary-alt);
}

.today::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: dashed 1px var(--primary) ;
}

/* ********************************** ADMIN SCHEDULE ********************************** */

#reservations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.customer-reservation {
    position: relative;
    display: flex;
    flex-direction: column;
    border: solid 2px var(--primary);
    margin-bottom: 1rem;
}

.customer-reservation > p:first-child {
    color: var(--secondary);
    background-color: var(--primary);
    margin: 0;
    padding: .4rem;
    text-align: center;
}

.customer-reservation > *:not(:first-child) {
    margin: 0;
    padding: .4rem;
    font-size: 1.1rem;
}

.customer-reservation > a {
    color: var(--primary);
}

.highlight {
    border-color: var(--primary) !important;
}

.customer-reservation > *:last-child {
    text-align: center;
    font-size: .8rem;
}

.customer-reservation > *:last-child:hover {
    cursor: pointer;
    font-size: .9rem;
    text-decoration: underline;
}

/* ********************************** MOBILE ********************************** */

@media (max-width: 959px) {
    html {
        font-size: 12px;
    }

    body {
        padding: 0 5vw;
    }

    .buttonsList {
        grid-template-columns: repeat(4, 1fr);
    }

    .closeButton::before {
        top: .8rem;
    }

    .closeButton::after {
        top: .65rem;
    }

    #reservations {
        grid-template-columns: 1fr;
    }
}